.rounded-card {
    border-radius: 15px;
}

.rounded-card:before, .rounded-card:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 60s linear infinite;
    border-radius: 15px;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.rounded-card:after {
    filter: blur(20px);
    border-radius: 15px;
}

.rounded-card img {
    border-radius: 15px;
}

.scrollable > .rounded-card::before, .scrollable > .rounded-card::after {
    content: '';
    position: absolute;
    left: -1px;
    top: -1px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094,
    #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: -1;
    animation: steam 60s linear infinite;
    border-radius: 15px;
}

.scrollable > .rounded-card:after {
    filter: blur(7px);
}

.scrollable {
    max-height: 800px;
    overflow-x: hidden;
}
.small-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.detail {
    left : -50%;
    transform: translateX(-54%);
    background-color: white;
    border-radius: 15px 0px 15px 15px; 
    text-align: center;
}

.highlighted {
    cursor: pointer;
    color: gold;
}